<script lang="ts">
  import { scrollToBottom } from "helpers";
  import { createEventDispatcher } from "svelte";
  import historyStore from "./historyStore";

  const dispatch = createEventDispatcher();

  export let lines: string[] = [];
  export let value: string = "";
  export let interactive = true;
  export let scroll = true;

  export function focus() {
    setter && setter.focus();
  }

  let setter,
    wrapper,
    cursorOffset: number = 0,
    historyOffset = 0,
    idle = true;

  $: cursorOffsetCapped = Math.min(value.length, Math.max(0, cursorOffset));

  function handleLine() {
    console.log(value);
    const v = value.replaceAll("\n", "");
    value = "";
    dispatch("line", v);
  }

  let timeout;
  function handleKeyDown(e: KeyboardEvent) {
    // Handle Idle state
    if (timeout) clearTimeout(timeout);
    timeout = setTimeout(() => {
      idle = true;
    }, 2000);
    idle = false;

    if (e.key === "ArrowLeft") {
      if (e.ctrlKey) {
        cursorOffset = value.length;
      } else {
        cursorOffset = Math.min(value.length, cursorOffsetCapped + 1);
      }
    } else if (e.key === "ArrowRight") {
      if (e.ctrlKey) {
        cursorOffset = 0;
      } else {
        cursorOffset = Math.max(0, cursorOffsetCapped - 1);
      }
    }

    if (e.key === "l" && e.ctrlKey) {
      lines = [];
      e.preventDefault();
    }

    if (e.key === "c" && e.ctrlKey) {
      value = "";
      e.preventDefault();
    }

    if (e.key === "Tab") {
      e.preventDefault();
      dispatch("autocomplete", value);
    }

    if (e.key === "Enter") {
      handleLine();
    }

    if (e.key === "ArrowUp") {
      historyOffset = Math.min($historyStore.length - 1, historyOffset + 1);
      value = $historyStore[historyOffset];
    } else if (e.key === "ArrowDown") {
      historyOffset = Math.max(0, historyOffset - 1);
      value = $historyStore[historyOffset];
    } else {
      historyOffset = 0;
    }
  }

  $: if (lines.length || value.length) {
    setTimeout(() => {
      scrollToBottom(wrapper);
    }, 50);
  }
</script>

<div
  class="console-wrapper"
  class:scroll
  class:interactive
  bind:this={wrapper}
  on:click={() => setter.focus()}
>
  {#each lines as line}
    <p class="console-line" class:mono={line.endsWith(" ")}>
      {line === "" ? " " : line}
    </p>
  {/each}

  {#if interactive}
    <textarea
      bind:this={setter}
      type="text"
      bind:value
      on:keydown={handleKeyDown}
    />
  {/if}

  <div id="output" class:active={value.length} class:idle>
    <span id="line-start" class:blink={!value.length}>></span
    >{#if value.length}<span id="start"
        >{value
          .slice(0, value.length - cursorOffsetCapped)
          .replaceAll("\n", "")}</span
      >{/if}<span id="end"
      >{value
        .slice(value.length - cursorOffsetCapped, value.length)
        .replaceAll("\n", "")}</span
    >
  </div>
</div>

<style>
  span {
    font-size: 1em;
    max-width: 100%;
    line-break: anywhere;
    white-space: break-spaces;
  }

  #output {
    margin-bottom: 50px;
  }

  #end::before {
    position: absolute;
    content: "_";
    transform: translateY(2px);
  }

  .mono {
    font-family: monospace !important;
  }

  #end {
    display: none;
  }

  .active > #end {
    display: inline;
  }

  .idle > #end::before {
    animation: infinite blink 1s step-end;
  }

  textarea {
    left: -1000px;
    position: absolute;
  }

  .console-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
  }
  .scroll {
    overflow-y: auto;
  }

  .console-line {
    opacity: 0.8;
    padding: 0px;
    margin: 0px;
    white-space: pre;
    text-shadow: 0px 0px 20px #ffffff63;
  }

  .blink {
    animation: infinite blink 1s step-end;
  }

  #line-start {
    display: none;
  }

  .interactive #line-start {
    display: inline;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
</style>
