<script lang="ts">
  import { state } from "stores";
  import Console from "./Console.svelte";
  import handleInput from "./handleInput";
  import historyStore from "./historyStore";

  export const title = "terminal " + $state.cwd;
  export let interactive = true;
  export let lines = [];
  export let scroll = true;

  let value: string = "";

  async function addToHistory(line) {
    if (line.length) {
      const history = [line, ...$historyStore];
      $historyStore = history.slice(0, 50);
    }
  }

  async function handleLine({ detail: line }) {
    console.log("Line", line);
    lines = [...lines, line];
    addToHistory(line);

    handleInput(line, (output) => {
      console.log(output);
      lines = [...lines, ...(Array.isArray(output) ? output : [output])];
    });
  }

  async function handleAutocomplete() {
    console.log(value);
  }
</script>

<Console
  {interactive}
  {scroll}
  bind:lines
  bind:value
  on:line={handleLine}
  on:autocomplete={handleAutocomplete}
/>

<style>
</style>
