<script lang="ts">
  import { fs } from "stores";
  import replaceVariables from "./replaceVariables";

  export let title = "Mail";

  let messages = [];
  let activeMessage;

  fs.store.subscribe(() => {
    const { children = [] } = fs.get("/home/messages");
    messages = children;
    title =
      "Mail " +
      (messages.length
        ? `(${messages.filter((msg) => !msg.read).length} New)`
        : "");
  });

  $: if (activeMessage) {
    if (!activeMessage.read) {
      activeMessage.read = true;
      fs.update();
    }
  }
</script>

<div class="wrapper">
  <aside>
    {#each messages as msg}
      <div class:unread={!msg.read} on:click={() => (activeMessage = msg)}>
        <p class="sender">{msg.from}</p>
        <p class="excerpt">{replaceVariables(msg.content[0])}</p>
        <p class="excerpt">{replaceVariables(msg.content[2])}</p>
      </div>
    {/each}
  </aside>

  <div class="reader">
    {#if activeMessage}
      <p class="sender">
        From
        <b>{activeMessage.from}</b>
      </p>

      {#each replaceVariables(activeMessage.content) as line}
        <p>{line || "  "}</p>
      {/each}
    {/if}
  </div>
</div>

<style>
  .wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: minmax(20px, 200px) 1fr;
  }
  p {
    margin: 0;
    padding: 0;
  }
  aside {
    background-color: #d2d2d2;
    height: 100%;
    max-width: 200px;
    min-width: 100px;
    border-right: ridge 3px;
  }

  aside > div {
    border-bottom: ridge 2px;
    padding: 2px 5px;
    cursor: pointer;
  }

  .sender {
    font-style: italic;
  }

  aside > div.unread > .sender {
    font-weight: bolder;
  }

  aside > div > p {
    color: black;
    font-size: 0.8em;
  }

  .excerpt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .reader {
    vertical-align: top;
    background-color: #d2d2d2;
    height: 100%;
    color: black;
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 50px;
    box-sizing: border-box;
  }

  .reader > p {
    white-space: pre-wrap;
  }

  .reader > p.sender {
    white-space: nowrap;
    border-bottom: ridge 2px;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
</style>
