<script lang="ts">
  import { onMount } from "svelte";

  let canvas;

  const width = 128;
  const height = 128;

  export const title = " 16th dimension";
  export const maxWidth = 512;
  export const maxHeight = 512;

  const rotate_point = (cx, cy, ox, oy, angle) => {
    const s = Math.sin(angle);
    const c = Math.cos(angle);

    // translate point back to origin:
    ox -= cx;
    oy -= cy;

    // rotate point
    const xnew = ox * c - oy * s;
    const ynew = oy * s + oy * c;

    // translate point back:
    ox = xnew + cx;
    oy = ynew + cy;

    return [ox, oy];
  };

  onMount(() => {
    const ctx = canvas.getContext("2d");
    let frame;

    (function loop() {
      frame = requestAnimationFrame(loop);

      const imageData = ctx.getImageData(0, 0, canvas.width, canvas.height);

      for (let p = 0; p < imageData.data.length; p += 4) {
        const i = p / 4;
        const x = i % canvas.width;
        const y = (i / canvas.height) >>> 0;

        const t = window.performance.now();

        const r = 64 + (128 * x) / canvas.width + 64 * Math.sin(t / 1000);
        const g = 64 + (128 * y) / canvas.height + 64 * Math.cos(t / 1000);
        const b = 128;

        imageData.data[p + 0] = r;
        imageData.data[p + 1] = g;
        imageData.data[p + 2] = b;
        imageData.data[p + 3] = 255;
      }
      ctx.putImageData(imageData, 0, 0);

      for (let p = 0; p < 19; p++) {
        const h =
          height - (height / 2) * (p / 18) * Math.sin((p + frame) / 200);

        ctx.beginPath();
        ctx.moveTo(width / 2, h);

        for (let i = 0; i < 10; i++) {
          const [x, y] = rotate_point(
            width / 2,
            height / 2,
            width / 2,
            h,
            (i / 9) * Math.PI * 2 + frame / 100 + Math.sin(p / 10)
          );
          ctx.lineTo(x, y);
        }
        ctx.lineWidth = 2;
        ctx.strokeStyle = "#fff";
        ctx.stroke();
        ctx.closePath();
      }
    })();

    return () => {
      cancelAnimationFrame(frame);
    };
  });
</script>

<style>
  canvas {
    width: 100%;
    height: 100%;
  }
</style>

<canvas bind:this={canvas} width={128} height={128} />
