html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  user-select: none !important;

  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges; /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;
}

#noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("noise.png");
  pointer-events: none;
  z-index: 999;
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center center;
  pointer-events: none;
  opacity: 0.05;
  z-index: -1;
}

.moveable-control-box {
  opacity: 0 !important;
}

body {
  color: #333;
  background-color: rgb(31, 27, 43);

  overflow: hidden;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: rgb(214, 212, 212);
  font-family: "VT323", monospace;
  font-size: 1.5em;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border-radius: 0;
  border: ridge 5px;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
