<script>
  export const title = "IsyncrasyOS | Manual";
</script>

<div class="wrapper">
  <h1 id="isyncrasy-airship-manual">Isyncrasy Airship Manual</h1>
  <p>© Isyncrasy Corp 2020</p>

  <a href="https://git.coco.study/mrichte8/isyncrasy-os" target="_blank"
    >Source Code</a
  >

  <h2>0. Creation of the Airship</h2>

  <details>
    <summary>Shopping List</summary>

    <ul>
      <li>90 cm Ø Folienballon</li>
      <li>Raspberry Pi Zero</li>
      <li>3,7V Lithium.-Ionen Akku</li>
      <li>3 x DC 3.7 V 48000 RPM Propeller</li>
      <li>2 x L9110s Motortreiber</li>
      <li>OV5647 Kamera</li>
      <li>HC-SR04 Ultraschallsensor</li>
      <li>Atmel ATtiny 85</li>
      <li>Helium</li>
      <li>Kabel</li>
      <li>Kabelbinder</li>
      <li>Klebeband</li>
      <li>Klettverschluss</li>
    </ul>

    <img
      src="https://git.coco.study/mrichte8/isyncrasy-airship/-/raw/main/docs/Parts.png"
      alt="alt text"
    />
  </details>

  <br />
  <br />

  <details>
    <summary>Circuit Diagram</summary>

    <h2>Mainboard</h2>
    <p>
      <img
        src=" https://git.coco.study/mrichte8/isyncrasy-airship/-/raw/main/docs/Fritzing_02.jpg"
        alt="alt text"
      />
    </p>
    <h2>Ground Distance Circuit</h2>
    <p>
      <img
        src=" https://git.coco.study/mrichte8/isyncrasy-airship/-/raw/main/docs/Fritzing_01.jpg"
        alt="alt text"
      />
    </p>
    <p>
      <img
        src=" https://git.coco.study/mrichte8/isyncrasy-airship/-/raw/main/docs/CAD.png"
        alt="alt text"
      />
    </p>
    <h1>CAD file to make the body in a 3D printer</h1>
  </details>

  <br />
  <br />

  <details>
    <summary>Making Of</summary>
    <iframe
      title="MakingOf IsyncrasyAirship"
      src="https://www.youtube.com/embed/oN4pymU5fLk"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    />
  </details>

  <h2 id="1-introduction">1. Introduction</h2>
  <p>
    This is a guide on how to access and deploy updates to your
    IsyncrasyAirship™ over WIFI.
  </p>
  <h2 id="2-access">2. Access</h2>
  <p>
    For all connections to your IsyncrasyAirship™ you will need to be in the
    same local network as the IsyncrasyAirship™.
  </p>
  <p>
    There are a few builtin networks already, e.g. it will connect to <code
      >cocolabor</code
    >
    automatically. If you can&#39;t access the IsyncrasyAirship™ that way you can
    setup a development hotspot which the IsyncrasyAirship™ will automatically connect
    to.
  </p>
  <p>
    For this to work the hotspot has to have the ssid <code>isyncrasy-net</code>
    and the passcode which was given to you when you received the IsyncrasyAirship™.
  </p>
  <details>
    <summary>How to setup a wifi hotspot</summary>

    <a
      href="https://www.howtogeek.com/214053/how-to-turn-your-mac-into-a-wi-fi-hotspot/"
      >mac</a
    >

    <a
      href="https://praxistipps.focus.de/windows-10-hotspot-erstellen-und-einrichten-so-gehts_101552"
      >windows</a
    >

    <a
      href="https://www.pcwelt.de/ratgeber/WLAN-Access-Point-mit-Linux-9895907.html"
      >linux</a
    >
  </details>

  <h3 id="2-1-find-the-ip">2.1 Find the IP</h3>
  <p>
    If you setup the development hotspot the IP of the IsyncrasyAirship™ should
    be displayed in the hotspot interface of your OS. If that is the case you
    can skip this step.
  </p>
  <p>
    Else you can use the fantastic <a href="https://angryip.org/download"
      >AngryIP</a
    >
    Software to scan the entire network until it finds a device with the
    hostname <code>airship</code>.
  </p>
  <h3 id="2-2-ssh">2.2 SSH</h3>
  <p>
    Once you know the ip of the IsyncrasyAirship™ you can use the command <code
      >ssh isync@[AIRSHIP_IP]</code
    >
    to connect to your IsyncrasyAirship™. If you dont want to enter your
    password every time you can make use of the
    <code>ssh-copy-id isync@[AIRSHIP_IP]</code> command to copy your ssh key to the
    IsyncrasyAirship™.
  </p>
  <p>
    If it asks you for a password use the same one given to you when you
    received your IsyncrasyAirship™.
  </p>
  <h3 id="2-3-ftp">2.3 FTP</h3>
  <p>
    If you want to copy files from/to your IsyncrasyAirship™ you can use a FTP
    connection. There are a few different ftp clients available:
  </p>
  <p>
    <a href="https://filezilla-project.org/">FileZilla</a> (all major
    plattforms)
    <a href="https://cyberduck.io/">CyperDuck</a> (mac, windows)
  </p>
  <p>
    Or if you just want to download files you can open <code
      >ftp://[AIRSHIP_IP]</code
    >
    in your favourite webbrowser.
  </p>
  <h3 id="2-4-deploy">2.4 Deploy</h3>
  <h4 id="2-4-0-clone-the-repo">2.4.0 Clone the Repo</h4>
  <p>
    Just by reading this you have already accomplished your first step, and this
    is having access to this repo. Now just <code>git clone</code> it.
  </p>
  <h4 id="2-4-1-add-the-isyncrasyairship-as-a-origin">
    2.4.1 Add the IsyncrasyAirship™ as a origin
  </h4>
  <p>
    Now you need to tell git where to push the code. For this you have to add a
    git remote. You can list your existing remotes with the command <code
      >git remote -v</code
    >
  </p>
  <p>This should list one remote looking like:</p>
  <pre><code><span class="hljs-selector-tag">origin</span> <span
        class="hljs-selector-tag">git</span>@%<span
        class="hljs-keyword">SOME_URL</span>%/<span
        class="hljs-keyword">isyncrasy</span>-<span
        class="hljs-keyword">aiship</span>.<span class="hljs-keyword">git</span> (fetch)
origin git@%SOME_URL%/isyncrasy-airship.git (push)
</code></pre>
  <p>to add a new origin use the command:</p>
  <p>
    <code
      >git remote add airship ssh://isync@[AIRSHIP_IP]/opt/isyncrasy-airship.git</code
    >
  </p>
  <h4 id="2-4-2-its-deploy-time-">2.4.2 Its deploy time!</h4>
  <p>just run <code>git push airship main</code></p>
  <p>
    If you want to know whats going on behind the scenes there is a small
    description in SERVICES.md
  </p>
  <hr />
  <p><strong>Enjoy,</strong></p>
  <p>Your Isyncrasy Team</p>
</div>

<style>
  .wrapper {
    overflow-y: scroll;
    padding: 20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }

  h1,
  h2 {
    font-weight: normal;
  }

  summary {
    font-size: 1.4em;
  }

  iframe {
    width: 100%;
    height: 300px;
  }

  img {
    width: 100%;
  }
</style>
