<script  lang="ts">
  import { onMount } from "svelte";
  import DropDown from "elements/DropDown.svelte";
  import Viewer3D from "elements/Viewer3D.svelte";

  import { GLTFLoader } from "ogl";
  import { vertex, fragment } from "./shaders";

  export let activeModel = "Suzanne";
  export const title = "3D viewer";
  let gl;

  const models = {
    Suzanne: {
      url: "assets/models/monkey.glb",
    },
    Icosphere: {
      url: "assets/models/icosphere.glb",
    },
    Airship_v1: {
      url: "assets/models/airship_v1.glb",
    },
  };

  let currentModel;
  const updateModel = async () => {
    if (gl) {
      if (activeModel in models) {
        const url = models[activeModel].url;
        const gltf = await GLTFLoader.load(gl, url);
        currentModel = gltf.nodes[0].children[0];
      }
    } else {
      setTimeout(updateModel, 20);
    }
  };

  $: if (activeModel) updateModel();
</script>

<style>
  .topbar {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 0px;
    height: 30px;
    align-items: baseline;
  }
</style>

<div class="topbar">
  <DropDown options={Object.keys(models)} bind:selected={activeModel} />
</div>
<Viewer3D model={currentModel} bind:gl />
