<script  lang="ts">
  import { fs } from "stores";
  import PresentationViewer from "./PresentationViewer.svelte";
  import FileIcon from "elements/FileIcon.svelte";

  export let file;
  export let title;

  $: if (!file) {
    title = "Presentation Overview";
  }

  let presentations = [];

  fs.store.subscribe(() => {
    presentations = fs.get("/home/presentations").children;
    if (presentations.length === 1) file = presentations[0];
  });
</script>

{#if file}
  <PresentationViewer bind:file bind:title />
{:else if presentations}
  {#each presentations as pres}
    <FileIcon file={pres} />
  {/each}
{:else}
  <h3>No presentations for youu</h3>
{/if}
