<script  lang="ts">
  import presentation from ".";

  import { onMount } from "svelte";
  import { api } from "helpers";
  import state from "stores/state";

  export let title = "Presentation | Slide 01";
  export let file;
  let currentIndex = 0;

  let slides = [];
  let name = "";

  $: if (file && file.name && file.name !== name) {
    name = file.name;
    slides = file.slides;
  }

  $: if (name) {
    api.get("/presentation/" + name).then(({ currentIndex: _currentIndex }) => {
      currentIndex = _currentIndex;
    });
  }

  let wrapper;

  let isAllowed = false;
  let isFullscreen = false;

  $: if (currentIndex !== undefined) {
    title = name + " | Slide " + (currentIndex + 1).toString();
  }

  const updateSlideIndex = (newIndex) => {
    if (!isAllowed) return;
    if (newIndex === currentIndex) return;
    currentIndex = newIndex;
    api.post("/presentation/" + name, {
      currentIndex,
      passcode: state.get("pass"),
    });
  };

  const superSecretPassCode = "control";
  let curI = 0;
  const handleDirection = (dir) => {
    if (!isAllowed) return false;
    const newIndex = Math.max(
      Math.min(slides.length - 1, currentIndex + dir),
      0
    );
    updateSlideIndex(newIndex);
  };

  const handleLeft = () => handleDirection(-1);
  const handleRight = () => handleDirection(1);
  const handleKeyDown = ({ key }) => {
    if (key === "ArrowRight") handleRight();
    if (key === "ArrowLeft") handleLeft();
    if (key === "Escape") {
      if (isFullscreen) {
        isFullscreen = false;
        document.exitFullscreen();
      } else {
        file = false;
      }
    }

    if (superSecretPassCode.charAt(curI) === key.toLowerCase()) {
      curI++;
      if (curI === superSecretPassCode.length) {
        isAllowed = !isAllowed;

        state.update((s) => {
          if (isAllowed) {
            s.pass = superSecretPassCode;
          } else {
            delete s.pass;
          }
          return s;
        });
      }
    } else {
      curI = 0;
    }
  };

  api.on("presentation", ({ name: _name, currentIndex: _currentIndex }) => {
    if (name === _name) {
      currentIndex = _currentIndex;
    }
  });

  $: if ($state.pass === superSecretPassCode) {
    isAllowed = true;
  }
</script>

<style>
  #wrapper.isFullscreen {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background: black;
  }

  #wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .content-wrapper {
    user-select: none;
  }

  .content-wrapper > img {
    width: 100%;
  }

  .arrows {
    position: absolute;
    right: 5px;
    bottom: 5px;
    height: 40px;
  }

  .arrows > button {
    margin: 0;
    background: white;
    border: ridge 5px;
    outline: none;
    height: 100%;
    border-radius: 0px;
    padding: 0px 10px;
  }
  #fullscreen {
    position: absolute;
    right: 5px;
    top: 5px;
    border: ridge 5px;
    margin: 0;
    padding: 0px 5px;
    opacity: 0.5;
    cursor: pointer;
    background: white;
    color: black;
  }

  h3 {
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

<svelte:window on:keydown={handleKeyDown} />

<div id="wrapper" class:isFullscreen bind:this={wrapper}>

  {#if isFullscreen}
    <h3>{title}</h3>
  {/if}

  <span
    id="fullscreen"
    on:click={() => {
      isFullscreen = !isFullscreen;
      isFullscreen ? wrapper.requestFullscreen() : document.exitFullscreen();
    }}>
    ⛶
  </span>
  <div class="content-wrapper">
    <img src={slides[currentIndex]} alt="" />
  </div>

  {#if isAllowed}
    <div class="arrows">
      <button on:click={handleLeft}>&lt;</button>
      <button on:click={handleRight}>&gt;</button>
    </div>
  {/if}

</div>
