<script lang="ts">
  import { api, PCMPlayer } from "helpers";
  import { onMount } from "svelte";
  export const title = "Sound Debugger";

  let canvas: HTMLCanvasElement;
  let audio: HTMLAudioElement;

  const height = 400;
  const width = 400;

  onMount(async () => {
    const ctx = canvas.getContext("2d");
    canvas.width = width;
    canvas.height = height;

    let f;
    api.emit("airship.room.join", {});

    const player = new PCMPlayer({
      encoding: "16bitInt",
      channels: 2,
      sampleRate: 44100,
      flushingTime: 2000,
    });

    console.log(player);

    const unsub = await api.on("airship.sound", (s) => {
      // Now feed PCM data into player getting from websocket or ajax whatever the transport you are using.

      const data = new Uint16Array(s);
      player.feed(s);

      const l = data.length;
      const w = width / l;

      ctx.clearRect(0, 0, width, height);

      for (let i = 0; i < l; i++) {
        const h = (data[i] / 265) * height;
        const a = i / l;
        ctx.fillStyle = "red";
        ctx.fillRect(i * w, height - h, i * w + w, h);
      }
    });

    return () => {
      unsub();
      cancelAnimationFrame(f);
    };
  });
</script>

<style>
  canvas {
    height: 100%;
    width: 100%;
  }
</style>

<canvas bind:this={canvas} />
<audio bind:this={audio} />
