<script lang="ts">
  import { icons as _icons } from "helpers/getIcon";

  const icons = Object.entries(_icons);

  console.log(icons);

  export const title = "Iconviewer";
</script>

<style>
  img {
    width: 100px;
    height: 100px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges; /* Firefox                        */
    image-rendering: -o-crisp-edges; /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast; /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;

    outline: solid thin white;
  }

  .wrapper {
    display: flex;
    height: 100%;
    overflow-y: auto;
    flex-flow: wrap;
  }

  .wrapper > div {
    margin: 10px;
  }

  p {
    margin: 2px;
  }
</style>

<div class="wrapper">
  {#each icons as icon}
    <div>
      <img src={'assets/icons/' + icon[1]} alt="" />
      <p>{icon[0]}</p>
    </div>
  {/each}
</div>
