<script lang="ts">
  export let options;
  export let selected;

  let open = false;
</script>

<style>
  .wrapper {
    border: ridge 5px;
    display: inline-block;
    background: #d2d2d2;
    color: black;
    cursor: pointer;
    height: fit-content;
  }

  .option {
    padding: 0px 5px;
  }

  .option::before {
    content: ">";
  }

  .select-wrapper {
    top: 0px;
    width: 100%;
    height: fit-content;
  }
</style>

<div class="wrapper">
  {#if open}
    <div class="select-wrapper">
      {#each options as option}
        <div
          on:click={() => {
            selected = option;
            open = false;
          }}
          class="option">
          {option}
        </div>
      {/each}
    </div>
  {:else if selected}
    <div on:click={() => (open = true)} class="option">{selected}</div>
  {:else if options}
    <div on:click={() => (open = true)} class="option">{options[0]}</div>
  {/if}
</div>
