<script lang="ts">
  import { getIcon } from "helpers";
  import { createEventDispatcher } from "svelte";
  import * as programs from "../programs";

  const dispatch = createEventDispatcher();

  export let file;
</script>

<div
  class="icon"
  on:click={() => {
    console.log(file, programs);
    if (file.program in programs) programs[file.program].exec({}, console.log);
    else if (file.type in programs) programs[file.type].exec(file);
    else {
      dispatch("click");
    }
  }}
>
  <img src={getIcon(file)} alt="" />

  <div>{file.name || file.program}</div>
</div>

<style>
  .icon {
    width: 70px;
    height: 70px;
    margin: 30px;
    cursor: pointer;
    user-select: none;
  }

  .icon:hover {
    outline: dashed medium gray;
  }

  .icon > img {
    width: 100%;
    height: 100%;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges; /* Firefox                        */
    image-rendering: -o-crisp-edges; /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast; /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;
  }
</style>
