<script lang="ts">
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();
  export let files: FileList;
  export let file = undefined;
  export let accept;

  $: if (files.length && files[0]) file = files[0];
</script>

<style>
  input {
    color: transparent;
    outline: none !important;
    border: none !important;
  }
  input::-webkit-file-upload-button {
    visibility: hidden;
  }
  input::before {
    content: "Select File";
    color: black;
    background-color: #d2d2d2;
    display: inline-block;
    border-radius: 0px;
    padding: 0px 10px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    border: ridge 4px;
  }
  input:active {
    outline: 0;
  }
  input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

  button {
    display: inline;
    background: transparent;
    border: none;
    line-height: 100%;
    background-color: red;
    border: ridge 2px;
    color: white;
    border-radius: 0px;
    padding: 0px 5px;
  }
  p {
    display: inline;
  }
</style>

{#if files && files[0]}
  <button on:click={() => (files = undefined)}>x</button>
  <p>{files[0].name}</p>
{:else}
  <input type="file" {accept} bind:files />
{/if}
