<script  lang="ts">
  import { onMount, createEventDispatcher } from "svelte";

  const dispatch = createEventDispatcher();
  let el;
  onMount(() => {
    const observer = new ResizeObserver((entries) => {
      const {
        contentRect: { width, height },
      } = entries[0];
      dispatch("resize", { width, height });
    });
    observer.observe(el);
  });
</script>

<style>
  .resize-watcher {
    height: 100%;
    width: 100%;
  }
</style>

<div class="resize-watcher" bind:this={el}>
  <slot />
</div>
