<script lang="ts">
  import { exec } from "../programs";
  import * as program from "programs";

  const items = Object.entries(program);

  let open = false;
</script>

<style>
  .wrapper {
    width: fit-content;
    height: fit-content;
    transform: translateY(-100%);
    background-color: #d2d2d2;
    border: ridge 5px;
    color: black;
    float: left;
  }

  .programs {
    cursor: pointer;
  }

  .start-menu {
    float: left;
    left: 3px;
    top: 3px;
    color: black;
    height: 15px;
    line-height: 15px;
    text-decoration: underline;
    text-decoration-style: dotted;
    background-color: #d2d2d2;
    border: ridge 5px;
    padding: 5px;
    user-select: none;
    cursor: pointer;
  }

  .submenu {
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 50vh;
    overflow-y: auto;
    background: #d2d2d2;
    transform: translateX(100%);
    list-style: none;
    padding-left: 0;
    border: ridge 5px;
    display: none;
  }

  .submenu > li {
    border-bottom: ridge 2px;
    padding: 5px;
    cursor: pointer;
  }

  .menu:hover > .submenu {
    display: block;
  }

  li:hover,
  .menu:hover {
    background-color: #9e9e9e;
  }

  .with-submenu::after {
    position: absolute;
    right: 3px;
    top: 18px;
    content: "▶";
    font-size: 0.5em;
  }

  .submenu:hover {
    display: block;
  }

  p {
    padding: 10px 8px;
    margin: 0;
  }

  hr {
    margin: 0;
  }
</style>

{#if open}
  <div class="wrapper">
    <div class="programs menu with-submenu">
      <p>Programs</p>
      <ul class="submenu">
        {#each items as item}
          <li on:click={() => item[1].exec(true, true) && (open = false)}>
            {item[0]}
          </li>
        {/each}
      </ul>
    </div>
    <div class="programs menu">
      <p>Settings</p>
    </div>

    <hr />

    <div class="programs menu">
      <p>Shut Down</p>
    </div>
    <div class="programs menu">
      <p>Log off</p>
    </div>

  </div>
{/if}
<div class="start-menu" on:click={() => (open = !open)}>start</div>
