<script  lang="ts">
  import StartMenu from "./StartMenu.svelte";
  import { onMount } from "svelte";
  import { store, create, maximize } from "stores/window";
  import state from "stores/state";

  let clock = "";

  const update = () => {
    const d = new Date();
    clock = `${d
      .getHours()
      .toString()
      .padStart(2, " ")}:${d.getMinutes().toString().padStart(2, "0")}`;
  };

  setInterval(update, 10000);
  onMount(update);
</script>

<style>
  .task-bar {
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background: #dfdfdf;
    padding: 5px;
    padding-top: 3px;
    padding-left: 4px;
    box-sizing: border-box;

    border: ridge 5px;
  }

  .task-bar > div {
    cursor: pointer;
    background: #ffffff;
    color: black;
    display: inline-block;
    height: calc(100% - 7px);
    border: ridge 5px;
    padding: 0px 10px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .clock,
  .name {
    float: right;
  }

  .name {
    border: none !important;
    background: transparent !important;
    line-height: 34px;
    height: 34px !important;
  }
</style>

<div class="task-bar">

  <StartMenu />

  {#each Object.values($store) as w}
    {#if w.minimized}
      <div on:click={() => maximize(w.id)}>{w.title}</div>
    {/if}
  {/each}

  <div class="clock">{clock}</div>

  <div class="name">{$state.name}</div>

</div>
