<script  lang="ts">
  import ResizeObserver from "./ResizeObserver.svelte";

  import { onMount } from "svelte";
  import DropDown from "elements/DropDown.svelte";
  import { throttle, debounce } from "helpers";

  import {
    Renderer,
    Transform,
    Camera,
    Orbit,
    Program,
    Sphere,
    Mesh,
  } from "ogl";

  export let model;
  export let width = 128;
  export let height = 128;
  export let gl;

  let canvas, renderer, controls, scene, camera;

  let resolveRenderer;
  let rendererPromise = new Promise((res) => (resolveRenderer = res));

  let currentModel;
  const updateModel = async () => {
    if (!renderer) await rendererPromise;
    if (currentModel) currentModel.parent.removeChild(currentModel);
    if (model) {
      model.setParent(scene);
      currentModel = model;
    }
  };
  $: if (model) updateModel();

  let timer;
  const savePosition = throttle(() => {
    localStorage.setItem("cam_pos", JSON.stringify(camera.position));
  }, 500);

  const handleResize = debounce(({ detail: { width: w, height: h } }) => {
    w = Math.min(window.innerWidth, w);
    h = Math.min(window.innerHeight, h);

    const ratio = 128 / Math.max(w, h);
    renderer.setSize(w * ratio, h * ratio);
    camera.perspective({ aspect: (w * ratio) / (h * ratio) });
  }, 500);

  onMount(() => {
    renderer = new Renderer({
      dpr: window.devicePixelRatio || 1,
      canvas,
      width,
      height,
    });
    gl = renderer.gl;

    gl.clearColor(0, 0, 0, 0);
    scene = new Transform();

    camera = new Camera(gl, { fov: 35 });
    camera.position.set(0, 1, 7);
    if ("cam_pos" in localStorage) {
      camera.position.set(JSON.parse(localStorage.getItem("cam_pos")));
    }
    camera.lookAt([0, 0, 0]);
    controls = new Orbit(camera, {
      element: canvas,
    });

    updateModel();

    let frame;

    function render() {
      frame = requestAnimationFrame(render);
      controls.update();
      savePosition();
      renderer.render({ scene, camera });
    }

    render();

    resolveRenderer();

    const int = setInterval(() => {}, 1000);

    return () => {
      clearInterval(int);
      cancelAnimationFrame(frame);
    };
  });
</script>

<style>
  canvas {
    width: 100% !important;
    height: 100% !important;
    user-select: none;

    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges; /* Firefox                        */
    image-rendering: -o-crisp-edges; /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast; /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;
  }
</style>

<ResizeObserver on:resize={handleResize}>
  <canvas bind:this={canvas} {width} {height} />
</ResizeObserver>
