<script lang="ts">
  import { onMount } from "svelte";
  import {
    setActive,
    setTransform,
    close,
    minimize,
    setTitle,
    maximize,
  } from "stores/window";

  import { debounce, getIcon } from "helpers";
  import Handle from "./Handle.svelte";

  export let app;
  export let id;
  export let active = false;

  export let props = {};

  export let minimized;
  export let title;
  export let icon = "";
  let isFullscreen;

  export let x = window.innerWidth / 2;
  export let y = window.innerHeight / 2;
  export let width = 100;
  export let height = 200;

  let instance;

  let translate = [0, 0];
  let target, header;

  let maxWidth = window.innerWidth;
  let maxHeight = window.innerHeight;
  let minWidth = 200;
  let minHeight = 100;

  const updateTransform = () => setTransform(id, x, y, width, height);

  $: if (title) {
    setTitle(id, title);
    minimized && minimize(id);
  }

  $: if (active) setActive(id);

  let downX = 0;
  let downY = 0;
  let downPosX = 0;
  let downPosY = 0;
  let isDown = false;
  const handleMouseMove = ({ x: _x, y: _y }) => {
    if (isDown) {
      x = Math.min(
        Math.max(downPosX - (downX - _x), 0),
        window.innerWidth - width
      );
      y = Math.min(
        Math.max(downPosY - (downY - _y), 0),
        window.innerHeight - height
      );
    }
  };

  const handleHeaderMouseDown = ({ x: _x, y: _y }) => {
    downX = _x;
    downY = _y;
    downPosX = x;
    downPosY = y;
    isDown = true;
    document.addEventListener("mouseup", () => (isDown = false), {
      once: true,
    });
  };
</script>

<style>
  .target {
    position: absolute;
    width: 50vh;
    height: 20vw;
    top: 50vh;
    left: 35vw;
    background-color: black;
    border-style: ridge;
    border-width: 5px;
  }

  .target.isFullscreen {
    width: calc(100vw - 20px) !important;
    height: calc(100vh - 100px) !important;
    top: 10px !important;
    left: 10px !important;
  }

  .header {
    position: relative;
    width: calc(100% - 5px);
    overflow: hidden;
    height: 20px;
    padding-left: 5px;
    background: white;
    border-bottom: ridge 5px;
    user-select: none;
  }

  .active {
    z-index: 90;
  }

  .clearfix::before,
  .clearfix::after {
    content: " ";
    display: table;
  }

  .clearfix::after {
    clear: both;
  }

  .clearfix {
    *zoom: 1; /* Für den IE6 und IE7 */
  }

  .content-wrapper {
    height: calc(100% - 25px);
    position: relative;
    overflow: hidden;
  }

  .button-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }

  .button-wrapper > button {
    cursor: pointer;
    background: none;
    border: none;
    height: 100%;
    color: black;
    margin: 0;
    float: right;
    padding: 0;
    width: 30px;
    text-align: center;
    border-left: ridge 5px;
    line-height: 100%;
    min-width: 0px;
    box-shadow: none;
  }

  h3 {
    margin: 0;
    height: 100%;
    font-size: 0.8em;
    color: black;
    padding-left: 0px;
    line-height: 100%;
    display: inline-block;
    vertical-align: top;
  }

  .header > img {
    height: 80%;
    display: inline-block;
    margin-top: 2px;
  }
</style>

<svelte:window on:mousemove={handleMouseMove} />

{#if !minimized}
  <div
    class="target"
    class:active
    class:isFullscreen
    on:mousedown={() => (active = true)}
    on:mouseup={updateTransform}
    style="top: {y}px; left: {x}px; width:{width}px; height:{height}px;
    max-width: {maxWidth}px; max-height: {maxHeight}px; min-width: {minWidth}px;
    min-height: {minHeight}px">

    <Handle
      direction="top"
      {minHeight}
      {minWidth}
      bind:width
      bind:height
      bind:x
      bind:y />
    <Handle
      direction="right"
      {minHeight}
      {minWidth}
      bind:width
      bind:height
      bind:x
      bind:y />
    <Handle
      direction="bottom"
      {minHeight}
      {minWidth}
      bind:width
      bind:height
      bind:x
      bind:y />
    <Handle
      direction="left"
      {minHeight}
      {minWidth}
      bind:width
      bind:height
      bind:x
      bind:y />

    <Handle
      direction="top-left"
      {minHeight}
      {minWidth}
      bind:width
      bind:height
      bind:x
      bind:y />
    <Handle
      direction="top-right"
      {minHeight}
      {minWidth}
      bind:width
      bind:height
      bind:x
      bind:y />
    <Handle
      direction="bottom-right"
      {minHeight}
      {minWidth}
      bind:width
      bind:height
      bind:x
      bind:y />
    <Handle
      direction="bottom-left"
      {minHeight}
      {minWidth}
      bind:width
      bind:height
      bind:x
      bind:y />

    <div
      class="header clearfix"
      bind:this={header}
      on:mousedown={handleHeaderMouseDown}>

      {#if icon}
        <img src={getIcon({ icon })} alt="" />
      {/if}

      <h3>{title}</h3>

      <div class="button-wrapper clearfix">
        <button on:click={() => close(id)}>⨯</button>
        <button
          on:click={() => {
            isFullscreen = !isFullscreen;
          }}>
          ▫
        </button>
        <button
          on:click={() => {
            minimized = true;
            minimize(id);
          }}>
          -
        </button>
      </div>

    </div>

    <div class="content-wrapper">
      <svelte:component
        this={app}
        {...props}
        bind:title
        on:close={() => close(id)} />
    </div>

  </div>
{/if}
