<script  lang="ts">
  import { api } from "helpers";
  import { onMount } from "svelte";
  import { state } from "stores";
  import MapCreator from "./MapCreator.svelte";
  import MapViewer from "./MapViewer.svelte";
  import LocatorList from "./LocatorList.svelte";

  export const title = "map";

  let maps = [];
  let mode = "list";
  let activeMap;
  let file;

  $: if (activeMap || !activeMap) {
    state.update((s) => {
      if (activeMap) {
        s.activeMap = activeMap._id;
      } else {
        delete s.activeMap;
      }
      return s;
    });
  }

  const handleMapCreation = async ({ detail: map = {} } = {}) => {
    console.log(map);
    const res = await api.upload("/map", map);
    console.log(res);
    activeMap = res;
  };

  onMount(async () => {
    maps = await api.get("/map");

    let activeMapID = state.get("activeMap");

    if (activeMapID) {
      let m = maps.find((map) => map._id === activeMapID);
      if (m) activeMap = m;
    }
  });
</script>

<style>
  #show-list {
    position: absolute;
    padding: 0px 10px;
    margin: 0;
  }
  p {
    border: ridge 5px;
    background-color: #d2d2d2;
    color: black;
    width: fit-content;
    padding: 5px 10px;
    margin: 0;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    display: inline-block;
  }
  .wrapper {
    padding: 10px;
  }

  h3 {
    font-weight: 100;
    margin: 5px 0px;
  }

  button {
    padding: 0px 10px;
    cursor: pointer;
  }
</style>

{#if mode !== 'list' || activeMap}
  <button
    id="show-list"
    on:click={() => {
      activeMap = undefined;
      mode = 'list';
    }}>
    &larr;
  </button>
{/if}

{#if activeMap !== undefined}
  <MapViewer map={activeMap} />
{:else if mode === 'list'}
  <div class="wrapper">
    <h3>Map List</h3>
    {#each maps as map}
      <p on:click={() => (activeMap = map)}>{map.name}</p>
    {/each}
    <hr />
    <button on:click={() => (mode = 'create')}>+</button>
    <button on:click={() => (mode = 'locators')}>locs</button>
  </div>
{:else if mode === 'locators'}
  <LocatorList />
{:else if mode === 'create'}
  <MapCreator on:map={handleMapCreation} />
{/if}
