<script  lang="ts">
  import { api } from "helpers";

  let locators = [];

  api.get("locator").then((locs) => {
    locators = locs;
  });

  api.on("locators", (locs) => {
    locators = locs;
  });
</script>

<style>
  p {
    background-color: #d2d2d2;
    color: black;
  }
</style>

{#if locators}
  {#each locators as locator}
    <p>{locator._id}</p>
  {/each}
{:else}
  <p>Seems pretty empty here</p>
{/if}
