<script  lang="ts">
  import FileInput from "elements/FileInput.svelte";
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();

  let name;
  let file;
</script>

<style>
  h2 {
    margin-top: 0;
    font-weight: 100;
  }

  td {
    border: ridge 3px;
  }

  tr > td:first-child {
    padding: 0px 15px;
    white-space: nowrap;
  }

  tr:first-child > td:first-child {
    border: none;
  }

  input {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    margin: 0;
    background-color: transparent;
    outline: none;
    color: white;
    border: none;
  }

  table {
    width: 100%;
  }
</style>

<table>
  <tr>
    <td />
    <td>
      <h2>Map Creator</h2>
    </td>
  </tr>
  <tr>
    <td>Map Name</td>
    <td>
      <input
        type="text"
        name="map-name"
        placeholder="DefaultMap"
        bind:value={name} />
    </td>

  </tr>
  <tr>
    <td>SVG File</td>
    <td>
      <FileInput bind:file accept="image/svg+xml" />
    </td>
  </tr>

  {#if file && name}
    <button
      on:click={() => {
        dispatch('map', { name, file });
      }}>
      create
    </button>
  {/if}

</table>
