<script  lang="ts">
  import { onMount } from "svelte";
  import Viewer3D from "elements/Viewer3D.svelte";

  import generate3D from "./generate3D";

  export let map;
  let gl;
  let model;
  let svgWrapper;

  $: if (map) generateModel();
  const generateModel = async () => {
    if (!gl) return setTimeout(generateModel, 100);
    console.log("generate new model");
    console.log(map);
    model = generate3D(gl, map);
    svgWrapper.innerHTML = map.rawSvg;
  };
</script>

<style>
  #svg-wrapper {
    position: absolute;
    width: 30%;
    height: 30%;
    right: 0;
    bottom: 0;
    background-color: blue;
    opacity: 0.5;
    pointer-events: none;
  }

  :global(#svg-wrapper > svg) {
    width: 100%;
    height: 100%;
  }

  :global(#svg-wrapper > svg > *) {
    fill: none !important;
    stroke: white;
    stroke-width: 4px;
  }
</style>

<div id="svg-wrapper" bind:this={svgWrapper}>

  <svg class="st0">
    <polyline />
  </svg>

</div>

<Viewer3D {model} bind:gl width={512} height={512} />
