<script lang="ts">
  import { message } from "programs";
  import Terminal from "programs/terminal/index.svelte";
  import state from "stores/state";
  import { onMount } from "svelte";
  import introSequence from "./intro.js";

  let interactive = false;
  let lines = [];

  const showBoot = $state.showBoot;

  // Boot Sequence
  const addTime = (line) => {
    return line.replace(/(?<=\[).*?(?=\])/, (s) => {
      const time = (Math.floor((performance.now() - s) * 100) / 100000)
        .toString()
        .split(".");

      time[1] = time[1].padEnd(5, "0");

      return time.join(".").padStart(10, " ");
    });
  };
  function update() {
    if (introSequence.length && showBoot) {
      const currentLine = introSequence.shift();

      if (currentLine[1] === true) {
        currentLine[0] = currentLine[0] + " ";
      }

      lines = [...lines, addTime(currentLine[0])];

      setTimeout(
        () => update(),
        (currentLine.length > 1 ? parseInt(currentLine[1].toString()) : 10) +
          (Math.random() > 0.9 ? 500 : 50) * Math.random()
      );
    } else {
      if (!introSequence.length) {
        lines = [...lines, "", "", "", ""];
      }

      setTimeout(() => {
        message.exec({ command: "message", rest: [] }, (out) => {
          if (Array.isArray(out)) lines = [...lines, ...out];
          else lines = [...lines, out];
          interactive = true;
        });

        state.update((s) => {
          s.showBoot = false;
          return s;
        });
      }, 500);
    }
  }

  onMount(update);
</script>

<div class="background">
  <Terminal {interactive} {lines} scroll={false} />
</div>

<style>
  .background {
    background-color: black;
    height: 100vh;
    overflow: hidden;
  }

  :global(body) {
    overflow: hidden;
  }
</style>
