<script  lang="ts">
  import Desktop from "screens/desktop/Desktop.svelte";
  import Boot from "screens/boot/Boot.svelte";
  import { state } from "stores";
</script>

<div id="background" />
<div id="noise" />
<header />
<main>

  {#if $state.screen === 'desktop'}
    <Desktop />
  {:else}
    <Boot />
  {/if}

</main>
