<script lang="ts">
  import { api, bufToBase64 } from "helpers";
  import { onMount } from "svelte";
  import glitch from "glitch-canvas";
  // import { Writable } from "web-audio-stream/stream";

  export const title = "Airship Controller";

  let img, wrapper;

  let offline = false;
  let isFullscreen = false;

  let rawDirection = 50;
  $: direction = rawDirection / 100;

  let rawSpeed = 0;
  $: speed = rawSpeed / 100;

  let rawBrightness = 0;
  $: brightness = rawBrightness / 100;

  let rBrightness, rSpeed, rDirection;

  let isReceived = false;
  api.get(
    "airship/control",
    (err, { speed: s = 0, direction: d = 0.5, brightness: b = 0.5 } = {}) => {
      rawDirection = d * 100;
      rawSpeed = s * 100;
      rawBrightness = b * 100;
    }
  );

  api.on(
    "airship.control",
    ({ speed: s = 0, direction: d = 0.5, brightness: b = 0.5 } = {}) => {
      rawDirection = d * 100;
      rawSpeed = s * 100;
      rawBrightness = b * 100;

      rDirection = rawDirection;
      rSpeed = rawSpeed;
      rBrightness = rawBrightness;
    }
  );

  $: if (
    rawDirection !== rDirection ||
    rawSpeed !== rSpeed ||
    rawBrightness !== rBrightness
  ) {
    api.emit("airship.control", { speed, direction, brightness });
  }

  onMount(() => {
    let int;
    let int2;

    //@ts-ignore
    var audioCtx: AudioContext = new (AudioContext || webkitAudioContext)();

    const ab = audioCtx.createBuffer(1, 256, audioCtx.sampleRate);

    api.on("airship.sound", async (b: ArrayBuffer) => {
      // var copy = new Uint8Array(b);
    });

    const restartTimeout = () => {
      clearTimeout(int);
      clearInterval(int2);
      int = setTimeout(() => {
        offline = true;
        img.src = "assets/stream-offline.jpg";
        var image = new Image();
        image.onload = function () {
          let i = 0;

          const update = () => {
            glitch({
              seed: i++ % 80, // integer between 0 and 99
              quality: 50, // integer between 0 and 99
              amount: Math.floor(Math.random() * 10), // integer between 0 and 99
              iterations: 5,
            })
              .fromImage(image)
              .toDataURL()
              .then(function (dataURL) {
                img.src = dataURL;
              });
            int2 = setTimeout(update, 400 + Math.random() * 500);
          };
          update();
        };
        image.src = "assets/stream-offline.jpg";
      }, 5000);
    };

    restartTimeout();

    api.on("airship.data", function (data) {
      offline = false;
      img.src = "data:image/png;base64," + bufToBase64(data);
      restartTimeout();
    });

    api.emit("airship.room.join", {});
    return () => {
      api.emit("airship.room.leave", {});
      clearTimeout(int);
      clearTimeout(int2);
    };
  });
</script>

<style>
  input {
    border: none;
    margin: 0;
    padding: 10px 1px;
  }
  .wrapper {
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .wrapper.offline {
    background-image: url("../assets/stream-offline.jpg");
  }

  .wrapper.offline > img {
    mix-blend-mode: color-dodge;
  }

  h3 {
    margin: 0px;
  }

  img {
    position: absolute;
    width: 100%;
    top: 50%;
    object-fit: cover;
    transform: translateY(-50%);

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  .bottom {
    position: absolute;
    bottom: 10px;
    width: 80%;
    left: 10%;
  }

  #fullscreen {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 5;
    margin: 0;
    padding: 0px 5px;
    opacity: 0.5;
    cursor: pointer;
    color: white;
  }
</style>

<div class="wrapper" class:offline bind:this={wrapper}>

  <span
    id="fullscreen"
    on:click={() => {
      wrapper.requestFullscreen();
    }}>
    ⛶
  </span>

  <img
    alt="airship camera stream"
    src="assets/stream-offline.jpg"
    bind:this={img} />

  {#if !offline || true}
    <div class="bottom">

      <h3>Direction: {direction}</h3>
      <input type="range" name="direction" bind:value={rawDirection} />

      <h3>Speed: {speed}</h3>
      <input type="range" name="direction" bind:value={rawSpeed} />

    </div>
  {/if}

</div>
