<script lang="ts">
  let radius = 10;
  export const title = "Volume Calc";
  $: volume = Math.floor((4 / 3) * Math.PI * Math.pow(radius, 3));
</script>

<style>
  #input {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #wrapper {
    padding: 10px;
  }

  p,
  h3 {
    font-weight: 100;
  }
  h3 {
    font-style: italic;
    margin: 0;
  }
</style>

<div id="wrapper">

  <h2>Kugel</h2>

  <div id="input">
    <h3>Radius (in cm)</h3>
    <input type="number" bind:value={radius} />
  </div>

  <h3>Volume:</h3>
  <p>{volume} cm³</p>
  <p>{Math.floor(volume * 0.001)} l</p>

  <h3>Lift (Helium)</h3>
  <p>~{Math.floor(volume * 0.001)} g</p>

</div>
