<script lang="ts">
  import Window from "elements/Window.svelte";

  import { window, fs } from "stores";
  import TaskBar from "elements/TaskBar.svelte";
  import FileIcon from "elements/FileIcon.svelte";
  import Icons from "programs/iconviewer/index.svelte";

  const store = window.store;

  let desktop;

  $: if (fs) {
    desktop = fs.get("/home/desktop").children;
  }

  fs.store.subscribe(() => {
    desktop = fs.get("/home/desktop").children;
  });
</script>

<style>
  .icon-wrapper {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    place-content: flex-start;
  }
</style>

<div id="background" />
<div id="noise" />
<header />
<main>
  <!-- <Icons /> -->

  <div class="icon-wrapper">
    {#each desktop as file}
      <FileIcon {file} />
    {/each}
  </div>

  {#each Object.values($store) as w}
    <Window {...w} />
  {/each}

  <TaskBar />

</main>
