<script  lang="ts">
  import { onMount } from "svelte";
  import * as fs from "stores/fs";
  import Icon from "elements/FileIcon.svelte";
  import { children } from "svelte/internal";

  export let cwd = "/home";

  let folder;
  $: if (cwd) {
    folder = fs.get(cwd);
  }

  fs.store.subscribe(() => {
    folder = fs.get(cwd);
  });

  export let title = "Explorer";
  $: if (cwd) title = "Explorer " + cwd;

  function handleClick(file) {
    if (file.type === "dir" && file.name) {
      if (cwd !== "/") {
        cwd = cwd + "/" + file.name;
      } else {
        cwd = cwd + file.name;
      }
    }
  }

  function goBack() {
    const p = cwd.split("/");
    p.length > 1 && p.pop();
    cwd = p.join("/");
    if (!cwd.startsWith("/")) cwd = "/" + cwd;
  }
</script>

<style>
  .icon-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    place-content: flex-start;
    overflow-y: auto;
  }

  .backup {
    background: white;
    border: ridge 5px;
    width: 70px;
    height: 70px;
    margin: 30px;
    font-size: 1.9em;
    text-align: center;
    line-height: 73px;
    color: black;
    transform: rotate(90deg);
    cursor: pointer;
  }
</style>

<div class="icon-wrapper">

  <div class="backup" on:click={goBack}>↲</div>

  {#if folder && folder.children}
    {#each folder.children as file}
      <Icon {file} on:click={() => handleClick(file)} />
    {/each}
  {/if}
</div>
