<script lang="ts">
  import state from "stores/state";
  import { scrollToBottom } from "helpers";
  import { api } from "helpers";

  export let title = `WebChat (${$state.name})`;

  let messages = [];
  let wrapper;
  let value;

  const addMessage = (message) => {
    messages = [...messages, message];
  };

  const sendMessage = (msg) => api.post("/chat", msg);

  const setName = (name) => {
    if (!name || name.length > 20) {
      return addMessage({
        command: true,
        name: "sys",
        content: "that is too long",
      });
    } else if (name !== $state.name) {
      sendMessage({
        command: true,
        from: "sys",
        content: `${$state.name} changed name to ${name}`,
      });
      state.update((s) => {
        s.name = name;
        return s;
      });
    }
    title = `WebChat (${name})`;
  };

  const help = () => {
    const content = [
      "HELP",
      "------------",
      "/setname [name]",
      " - sets your username",
      "/clear ",
      " - clears your chat",
    ];

    content
      .map((line) => {
        return {
          from: "sys",
          command: true,
          content: line,
        };
      })
      .forEach(addMessage);
  };

  const clear = () => {
    messages = [
      {
        from: "sys",
        command: true,
        content: "cleared",
      },
    ];
  };

  const handleCommand = (command, args) => {
    switch (command) {
      case "setname":
        setName(args[0]);
        break;
      case "help":
        help();
        break;
      case "clear":
        clear();
        break;
      default:
        messages = [
          ...messages,
          {
            command: true,
            from: "sys",
            content: `command '${command}' not regonized, try /help`,
          },
        ];
    }
  };

  const handleInput = () => {
    if (value.startsWith("/")) {
      const [command = "", ...args] = value.replace(/^\//, "").split(" ");
      handleCommand(command, args);
    } else {
      sendMessage({
        from: $state.name,
        content: value,
      });
    }
    value = "";
  };

  const handleKeyDown = ({ keyCode }) => {
    if (keyCode === 13) handleInput();
  };

  $: if (messages) scrollToBottom(wrapper);
  state.subscribe(({ name }) => setName(name));
  api.get("/chat", (err, msgs) => {
    if (err) console.error(err);
    else msgs.forEach(addMessage);
  });
  api.on("chat.new", addMessage);
</script>

<style>
  input {
    color: black;
    background-color: gray;
    position: absolute;
    border: ridge 5px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 50px;
    margin: 0;
  }

  input:focus {
    outline: none;
  }

  table {
    max-height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: auto;
    border-collapse: collapse;
  }

  input::placeholder {
    color: rgb(51, 51, 51);
  }

  tr.isCommand {
    font-style: italic;
    opacity: 0.7;
    font-size: 0.8em;
  }

  #overflower {
    width: 100%;
    max-height: calc(100% - 50px);
    height: 100%;
    overflow: auto;
  }
</style>

<div id="overflower" bind:this={wrapper}>
  <table>
    {#each messages as msg}
      <tr class:isCommand={!!msg.command}>
        <td>{msg.from}</td>
        <td>&gt;</td>
        <td>{msg.content}</td>
      </tr>
    {/each}
  </table>
</div>

<div id="chat-wrapper" />

<input
  type="text"
  placeholder="Message"
  bind:value
  on:keydown={handleKeyDown} />
